body {
    font-family: 'Montserrat';
    margin: auto;
    width: 1190px;
}


/* HEADER*/

nav {
    display: flex;
    justify-content: space-between;
    height: 35px;
    padding-top: 25px;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: rgb(149, 225, 221);
}

nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.menu {
    line-height: 2.5;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(149, 225, 221);
    transition-duration: 0.2s;
}

.menu:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: rgb(243, 129, 129);
    transition: width 0.2s ease-in-out;
}

.menu:hover:after {
    width: 100%;
}

.menu:hover {
    transition-property: color;
    transition-duration: 0.2s;
    color: rgb(243, 129, 129);
}