body {
    font-family: 'Montserrat';
    margin: auto;
    width: 1190px;
}


/* HEADER*/

nav {
    display: flex;
    justify-content: space-between;
    height: 35px;
    padding-top: 25px;
    margin-bottom: 100px;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: rgb(149, 225, 221);
}

nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.menu {
    line-height: 2.5;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(149, 225, 221);
    transition-duration: 0.2s;
}

.menu:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: rgb(243, 129, 129);
    transition: width 0.2s ease-in-out;
}

.menu:hover:after {
    width: 100%;
}

.menu:hover {
    transition-property: color;
    transition-duration: 0.2s;
    color: rgb(243, 129, 129);
}


/* AMAZING SERVICES */

.services {
    width: 315px;
    height: 115px;
    margin: 0 auto 45px;
}

h2 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 24px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    margin-bottom: 20px;
}

.services:after {
    display: block;
    content: "";
    height: 3px;
    width: 60px;
    background-color: rgb(243, 129, 129);
    margin: auto;
}


/* CONTENT */

.items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 92px;
}

.items>li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 395px;
    height: 170px;
}

.item-content {
    width: 300px;
    height: 80px;
}

.item-content>h4 {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
}

.item-content>p {
    text-transform: capitalize;
    font-size: 15px;
    line-height: 1.6;
    color: rgb(153, 153, 153);
}

.item-1:before,
.item-2:before,
.item-3:before,
.item-4:before,
.item-5:before,
.item-6:before {
    height: 80px;
    width: 32px;
    padding: 0 25px;
}

.item-1:before {
    content: url(../img/alarm.png);
}

.item-2:before {
    content: url(../img/line-graph.png);
}

.item-3:before {
    content: url(../img/computer.png);
}

.item-4:before {
    content: url(../img/book.png);
}

.item-5:before {
    content: url(../img/home.png);
}

.item-6:before {
    content: url(../img/image.png);
}

.text {
    display: block;
    margin: 0 auto 90px;
    text-align: center;
    font-size: 15px;
    color: rgb(153, 153, 153);
    width: 945px;
    height: 50px;
    line-height: 1.6;
}


/* SECTION-CARD */

.section-card {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    width: 380px;
    height: 470px;
    background-color: rgb(149, 225, 211);
}