body {
    font-family: 'Playfair Display', serif;
    width: 960px;
    margin: auto;
}

main {
    width: 960px;
    margin: auto;
}

ul {
    padding-top: 80px;
    text-align: center;
}

.li-menu {
    display: inline-block;
    padding: 0 30px;
}

.menu {
    text-decoration: none;
    color: rgb(97, 97, 97);
    padding: 10px;
}

a:hover {
    color: #03a9f4
}

.left-image {
    float: left;
    width: 420px;
    margin: 0 30px;
    padding-top: 100px;
}

.right-image {
    float: right;
    width: 420px;
    margin: 0 30px;
    padding-top: 100px;
}

.lifestyle {
    font-size: 15px;
    padding-top: 30px;
    color: rgb(161, 161, 161)
}

.title-of-content {
    font-size: 29px;
    padding: 30px 0;
    color: rgb(97, 97, 97);
}

.lorem {
    font-size: 14px;
    color: rgb(97, 97, 97);
    line-height: 1.5;
}

.button-sec {
    width: 100%;
    padding: 50px 0 50px;
    display: inline-block;
}

button {
    border: 1px solid rgb(97, 97, 97);
    background: white;
    font-size: 20px;
    padding: 15px 37px;
    display: block;
    margin: auto;
    cursor: pointer;
}

button:active {
    background: rgb(161, 161, 161);
}