h3 {
    text-align: center;
    font-family: sans-serif;
}


/* ЗАДАНИЕ 1 */

.dz1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 960px;
    height: 510px;
    margin: auto;
}

.yelow {
    border: 2px solid rgb(100, 100, 100);
    background-color: rgb(255, 238, 0);
    width: 99.58%;
    height: 40px;
}

.green {
    border: 2px solid rgb(100, 100, 100);
    background-color: rgb(0, 255, 0);
    width: 99.58%;
    height: 40px;
}

.box {
    display: flex;
    justify-content: space-between;
}

.blue {
    border: 2px solid rgb(100, 100, 100);
    background-color: rgb(57, 142, 253);
    width: 53.75%;
    height: 400px;
}

.grey {
    border: 2px solid rgb(100, 100, 100);
    background-color: rgb(121, 121, 121);
    width: 20.42%;
    height: 400px;
}

.orange {
    border: 2px solid rgb(100, 100, 100);
    background-color: rgb(223, 110, 65);
    width: 20.42%;
    height: 400px;
}


/* ЗАДАНИЕ 2 */

.dz2 {
    display: flex;
    max-width: 960px;
    height: 300px;
    margin: auto;
}

.content {
    background-color: rgb(250, 242, 125);
    width: 75%;
}

.sidebar {
    background-color: rgb(122, 223, 113);
    width: 25%;
}

@media screen and (max-width: 768px) {
    .dz2 {
        display: flex;
        flex-direction: column;
    }
    .content,
    .sidebar {
        height: 50%;
        width: 100%;
    }
}


/* ЗАДАНИЕ 3 */

.dz3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(236, 236, 236);
    max-width: 960px;
    height: 300px;
    margin: auto;
}

.dz3-red {
    background-color: rgb(223, 65, 65);
    width: 97%;
    height: 105px;
}

.dz3-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 97%;
    height: 180px;
}

.dz3-green {
    background-color: rgb(69, 165, 60);
    height: 105px;
}

.dz3-blue {
    background-color: rgb(93, 128, 223);
    height: 65px;
}

@media not screen and (max-width: 768px) {
    .dz3-box {
        display: flex;
        flex-direction: row;
    }
    .dz3-green {
        background-color: rgb(69, 165, 60);
        width: 30%;
        height: 175px;
    }
    .dz3-blue {
        background-color: rgb(93, 128, 223);
        width: 69%;
        height: 175px;
    }
}


/* ЗАДАНИЕ 4 */