/* Задание 1 */

.gradient {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent 100%), url(../img/prog.jpg);
    background-size: cover;
}


/* Задание 2 */

.box {
    float: left;
    width: 400px;
    height: 400px;
    position: relative;
    background-color: #424242;
}

.b1,
.b2,
.b3,
.b4,
.b5,
.b6,
.b7,
.b8,
.b9 {
    position: absolute;
    width: 100px;
    height: 100px;
}

.b1 {
    background: rgb(11, 0, 168);
}

.b2 {
    left: 50%;
    transform: translate(-50%);
    background: rgb(39, 168, 0);
}

.b3 {
    right: 0;
    background: rgb(168, 109, 0);
}

.b4 {
    top: 50%;
    transform: translate(0, -50%);
    background: rgb(0, 87, 168);
}

.b5 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(168, 0, 70);
}

.b6 {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background: rgb(0, 0, 0);
}

.b7 {
    bottom: 0;
    background: rgb(219, 223, 1);
}

.b8 {
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background: rgb(87, 0, 168);
}

.b9 {
    bottom: 0;
    right: 0;
    background: rgb(168, 0, 0);
}


/* Задание 3 */

.section {
    display: inline-block;
    margin-left: 10px;
}

.menu {
    padding: 0;
    margin: 0;
}

.menu-item {
    position: relative;
    margin-bottom: 10px;
    background-color: rgb(59, 59, 59)
}

.menu-item>a,
.submenu-item>a {
    display: block;
    padding: 0 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 59, 59);
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
}

.menu-item>a:hover,
.submenu-item>a:hover {
    background: rgb(114, 114, 114);
}

.submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
}

.submenu-item {
    min-width: 170px;
}

.menu-item:hover>.submenu {
    display: block;
}