body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    width: 100vw;
    margin: 0;
}

.image-gallery {
    width: 1290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(189, 189, 189, 0.25);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.fullview {
    width: 1280px;
    padding: 5px;
}

.preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

li {
    list-style: none;
    padding: 0 5px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

li:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.50);
    opacity: 0.5;
}

.active {
    opacity: 0.5;
}