body {
    font-family: 'Playfair Display', serif;
}

.main {
    width: 960px;
    margin: auto;
}

h3 {
    width: 960px;
    margin: auto;
    text-align: center;
    padding: 0 0 40px;
    font-size: 40px;
}

nav {
    width: 100%;
    padding: 0;
    text-align: center;
}

ul {
    padding: 40px;
}

.li-menu {
    display: inline-block;
    width: 120px;
}

.menu {
    background: rgb(97, 97, 97);
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
}

a:hover {
    background: rgb(138, 138, 138)
}

.wrapper {
    width: 470px;
    margin: auto;
}

.image-block {
    width: 420px;
    margin: auto;
}

.lifestyle {
    font-size: 15px;
    padding-top: 30px;
    color: rgb(141, 141, 141)
}

.title-of-content {
    font-size: 29px;
    padding: 30px 0;
    color: rgb(97, 97, 97)
}

.lorem {
    font-size: 14px;
    color: rgb(97, 97, 97);
    line-height: 1.5;
}

.wrap {
    width: 100%;
}

.left-image {
    float: left;
    width: 420px;
    margin: auto 30px;
}

.right-image {
    float: right;
    width: 420px;
    margin: auto 30px;
}