.row {
    margin: 0;
}

.wrap__header {
    max-width: 350px;
    margin: auto;
}

.header {
    height: 540px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 35px 0 35px;
    height: 180px;
    margin-bottom: 30px;
}

.sub-row {
    height: inherit;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons>a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 1.2;
    width: 94px;
    height: 35px;
    border: 2px solid transparent;
    transition: 0.2s;
}

.buttons>a:hover {
    transition: 0.2s;
    border-color: rgb(255, 255, 255);
}

h1 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin: 0;
}

.box__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 177px;
    margin: auto;
}

.share {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    min-width: 300px;
    margin: 0;
}

.find {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    font-weight: 300;
    width: 230px;
}

.wrap__button>a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    width: 280px;
    height: 36px;
    border: 2px solid rgb(255, 78, 80);
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    margin: auto;
    transition: 0.2s;
}

.wrap__button>a:hover {
    transition: 0.2s;
    background-color: transparent;
}

main {
    margin: 0 auto 25px;
}

.section-meet {
    height: 120px;
}

.meet {
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    max-width: 270px;
    margin: auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 225px;
    padding: 15px 0 30px;
    margin: 0 auto;
}

.img {
    position: relative;
    width: 121px;
    height: 121px;
    margin-bottom: 15px;
}

.img1-status::after {
    content: "";
    position: absolute;
    width: 37px;
    height: 37px;
    background-image: url(../img/shape1.png);
    bottom: 0;
    right: 0;
}

.img2-status::after {
    content: "";
    position: absolute;
    width: 37px;
    height: 37px;
    background-image: url(../img/shape2.png);
    bottom: 0;
    right: 0;
}

.img3-status::after {
    content: "";
    position: absolute;
    width: 37px;
    height: 37px;
    background-image: url(../img/shape3.png);
    bottom: 0;
    right: 0;
}

.img4-status::after {
    content: "";
    position: absolute;
    width: 37px;
    height: 37px;
    background-image: url(../img/shape4.png);
    bottom: 0;
    right: 0;
}

.name {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 15px;
}

.summary {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(102, 102, 102);
    line-height: 1.2;
    font-weight: 300;
    text-align: center;
}

.bottom:hover {
    color: rgb(255, 78, 80);
}

@media (min-width: 768px) {
    .header {
        height: 700px;
        background-image: url(../img/bg480.jpg);
    }
    .wrap__header {
        max-width: 768px;
        margin: auto;
    }
    .share {
        font-size: 52px;
        line-height: 1.2;
        min-width: 510px;
    }
    .box__nav {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
    }
    .box__item {
        height: 250px;
    }
    .find {
        width: inherit;
        font-size: 24px;
    }
    main {
        width: 768px;
    }
    .meet {
        max-width: 100%;
    }
    .wrapper1 {
        order: 1;
    }
    .wrapper2 {
        order: 3;
    }
    .wrapper3 {
        order: 2;
    }
    .wrapper4 {
        order: 4;
    }
}

@media (min-width: 992px) {
    .header {
        background-image: url(../img/bg768.jpg);
    }
    .wrap__header {
        max-width: 940px;
        margin: auto;
    }
    .box__nav {
        padding-left: 0;
        padding-right: 0;
    }
    main {
        width: 940px;
    }
}