body {
    font-family: 'Montserrat';
}

header {
    background: url(../img/bg_1_x.jpg) no-repeat center center;
    background-size: cover;
    height: 1000px;
    width: 100%;
    margin-bottom: 50px;
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    header {
        background: url(../img/bg_2_x.jpg) no-repeat center center;
    }
}


/* BANNER*/

.banner {
    width: 1200px;
    padding-top: 5px;
    margin: auto;
}

.banner__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    height: 100px;
    margin-bottom: 120px;
}

.banner__logo {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.banner__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 620px;
}

.menu__link {
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.5;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.menu__link--mod:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: rgb(252, 227, 138);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.menu__link--mod:hover:after {
    width: 100%;
}

.menu__link:hover {
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    color: rgb(252, 227, 138);
}

.banner__greeting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 820px;
    margin: auto;
}

.template {
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
}

.greeting {
    font-size: 150px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.933;
    text-align: center;
    margin-bottom: 110px;
}

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid rgb(255, 255, 255);
    width: 158px;
    height: 38px;
}

.icon--mod {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    fill: rgb(255, 255, 255);
}

.icon--mod:hover {
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    fill: rgb(252, 227, 138);
}


/* NEWS */

main {
    margin: 0 auto 65px;
    width: 1200px;
}

.title-item {
    height: 115px;
    margin: 0 auto 55px;
}

.title-item__title {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 24px;
    color: rgb(51, 51, 51);
}

.title-item__mod {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    margin-bottom: 25px;
}

.title-item:after {
    display: block;
    content: "";
    height: 3px;
    width: 60px;
    background-color: rgb(243, 129, 129);
    margin: auto;
}

.news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.news-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 380px;
    height: 170px;
    padding: 0 10px;
}

.news-item__icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80px;
}

.news-item__icon {
    width: 32px;
    height: 32px;
    fill: rgb(149, 225, 211)
}

.news-item__wrapper {
    width: 300px
}

.news-item__title {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}

.news-item__text {
    width: 285px;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 1.6;
    color: rgb(153, 153, 153);
}


/* TEAM */

.team__info {
    display: block;
    margin: 0 auto 90px;
    text-align: center;
    font-size: 15px;
    color: rgb(153, 153, 153);
    width: 945px;
    height: 50px;
    line-height: 1.6;
}

.team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.card-item__wrapper {
    position: relative;
    width: 380px;
    height: 470px;
    background-color: rgb(149, 225, 211);
    margin-bottom: 30px;
}

.card-item__img {
    position: absolute;
    width: 380px;
    height: 470px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
    background-image: -webkit-linear-gradient(left, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background-image: -o-linear-gradient(left, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background-image: linear-gradient(90deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}

.card-item__gradient {
    position: absolute;
    opacity: 0;
    width: 380px;
    height: 470px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(252, 227, 138)), to(rgba(243, 129, 129)));
    background-image: -webkit-linear-gradient(left, rgba(252, 227, 138) 0%, rgba(243, 129, 129) 100%);
    background-image: -o-linear-gradient(left, rgba(252, 227, 138) 0%, rgba(243, 129, 129) 100%);
    background-image: linear-gradient(90deg, rgba(252, 227, 138) 0%, rgba(243, 129, 129) 100%);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.card-item__wrapper:hover .card-item__gradient {
    opacity: 0.9;
}

.card-item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 380px;
    height: 470px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.card-item__wrapper:hover .card-item__content {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
}

.card-item__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 230px;
}

.icon-item__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 56px;
    height: 56px;
    background-color: rgb(252, 227, 138);
    border: none;
    opacity: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.icon-item__icon {
    fill: rgb(243, 129, 129);
    width: 26px;
    height: 26px;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.card-item__wrapper:hover .icon-item__wrapper {
    opacity: 1;
}

.icon-item__wrapper:hover {
    background-color: rgb(243, 129, 129);
}

.icon-item__wrapper:hover .icon-item__icon {
    fill: rgb(255, 255, 255);
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.card-item__property {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 45px;
}

.card-item__specialty {
    font-size: 15px;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 0;
    padding-top: 10px;
}


/* FOOTER */

.footer__items {
    width: 1200px;
    margin: auto;
}

.footer__line {
    background-color: rgb(229, 229, 229);
    width: 100%;
    height: 1px;
    border: none;
}

.footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
}

.footer__name {
    text-decoration: none;
    color: rgb(0, 0, 0);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.footer__name:hover {
    color: rgb(243, 129, 129);
}

.footer__subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 380px;
    height: 40px;
}

.footer__email {
    border: 1px solid;
    border-color: rgb(231, 231, 231);
    height: 36px;
    width: 230px;
    font-size: 15px;
    font-style: italic;
}

.footer__send {
    font-family: 'Montserrat';
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(149, 225, 211);
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 40px;
}