    body {
        font-family: "Roboto", sans-serif;
    }
    
    .clear-bl {
        width: 100%;
        height: 1px;
        clear: both;
    }
    
    .zagolovok {
        text-align: center;
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .left-gr {
        margin-top: 2%;
        float: left;
        width: 50%;
    }
    
    .right-gr {
        margin-top: 2%;
        float: right;
        width: 50%;
    }
    
    .string-el,
    .block-el {
        padding: 3%;
        color: #ffffff
    }
    
    .string-el {
        display: inline-block;
        margin-bottom: 10px;
        background-color: #4b49d8d0;
    }
    
    .block-el {
        margin-bottom: 10px;
        background-color: #d84949ce;
    }