.link {
  text-decoration: none;
  /* 1 */
  font-family: "Roboto", sans-serif;
  /* 2 */
  color: #424242;
  /* 3*/
  /* 4 */
  font-size: 18px; }
  .link:hover {
    color: #03A9F4; }

.text {
  font-size: 20px;
  line-height: 1.5; }
