body {
    font-family: 'Roboto', sans-serif;
    width: 1170px;
    margin: auto;
}

.header {
    display: inline-block;
    width: 100%;
    margin-bottom: 104px;
    padding-top: 35px;
}

.mart-m {
    font-size: 30px;
    font-family: "Roboto";
    color: rgb(26, 188, 156);
    text-transform: uppercase;
    font-weight: bold;
}

.mart {
    float: left;
    font-size: 30px;
    font-family: "Roboto";
    color: hsl(0, 4%, 35%);
    text-transform: uppercase;
    font-weight: lighter;
    margin-left: 30px;
}

.mhome {
    float: right;
    margin-right: 30px;
}

.mhome li {
    float: left;
    padding-top: 7px;
}

.lhome a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: hsl(0, 93%, 1%);
}

.lhome a:hover {
    color: rgb(26, 188, 156);
}

.home {
    padding-right: 33px;
}

.about-us {
    padding-right: 39px;
}

.page {
    padding-right: 30px;
}

.shop {
    padding-right: 27px;
}

.blog {
    padding-right: 34px;
}

.section-title {
    padding: 0;
    text-align: center;
    font-size: 48px;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    font-weight: bold;
}

.section-title h3 {
    margin-bottom: 32px;
}

.rectangle {
    background-color: rgb(26, 188, 156);
    margin: 0 auto 92px;
    border: 0;
    width: 164px;
    height: 7px;
}

main {
    margin: 0 15px;
}

.box {
    float: left;
    margin: 0 15px 30px 15px;
    font-size: 18px;
    background: rgb(50, 50, 50);
}

.abox {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.ibox {
    display: block;
    width: 255px;
}

.dpbox {
    display: table;
    width: 255px;
    height: 40px;
}

.box:hover {
    background: rgb(26, 188, 156);
}

.pbox {
    display: table-cell;
    vertical-align: middle;
    padding-left: 14px;
}

.p2box {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 54px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.439);
    /* opacity: 0.439; */
}