@font-face {
    font-family: 'PetitFormalScript-Regular';
    src: url('../fonts/PetitFormalScript-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('fonts/RobotoSlab-Regular');
    font-weight: normal;
    font-style: normal;
}