/* HEADER*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    height: 50px;
    margin: auto;
}

h1 {
    font-family: "OleoScriptSwashCaps-Regular";
    font-size: 26px;
    color: rgb(254, 209, 54);
    font-weight: normal;
    width: 79px;
    height: 30px;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 485px;
    height: 30px;
}

.menu>a {
    font-family: 'Montserrat';
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: hsl(0, 93%, 1%);
}

.menu>a:hover {
    color: rgb(254, 209, 54);
}


/* SERVICES */

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 65px;
    margin: auto;
    padding: 70px 0 70px;
}

.title-services {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
}

.sub-title {
    font-size: 16px;
    font-family: "DroidSerif";
    color: rgb(119, 119, 119);
    font-style: italic;
}

.services-box {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto 120px;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 275px;
    height: 190px;
}

.title-icon {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    line-height: 4.167;
    font-weight: bold;
}

.description {
    font-size: 14px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
}


/* CONTACT US */

.article-box {
    background-image: url(../img/map-image.png), url(../img/background.jpg);
    width: 1400px;
    height: 677px;
    margin: auto;
}

.title-contact-us {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    height: 310px;
    margin: auto;
}

.form-input {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 455px;
    height: 211px;
}

.input {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    width: 455px;
    height: 50px;
    padding: 0;
}

textarea {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    width: 455px;
    height: 209px;
    padding: 0;
    margin: 0;
}

.submit {
    border: 1px solid rgb(254, 209, 54);
    border-radius: 3px;
    background-color: rgb(254, 209, 54);
    width: 240px;
    height: 66px;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.Button {
    border-radius: 3px;
    background-color: rgb(254, 209, 54);
    position: absolute;
    left: 580px;
    top: 1138px;
    width: 240px;
    height: 66px;
    z-index: 6;
}


/*FOOTER*/

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    background-color: rgb(50, 50, 50);
    font-size: 16px;
    color: rgb(254, 254, 254);
}

.footer-section a {
    color: rgb(254, 254, 254);
    text-decoration: none;
}

.footer-a:hover {
    color: rgb(78, 198, 171);
}